@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins;
  src: url(./assets//fonts/Poppins-Regular.ttf);
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family:  Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #010e1b;
  color: #fff;
}


